<ion-header>
  <ion-toolbar color="success">
    <ion-button slot="start">
      <ion-back-button text="">
      </ion-back-button>
    </ion-button>
    <ion-title>Pickup-call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="https://cdn.buttercms.com/Ym1iRZNbRHOeWv0X4x3w" alt="">
  <ion-card>
    <ion-card-content>
      <p>Adress:Fake street, 11</p>
      <p>Complement : Apto 222</p>
      <p>Neighborhood:neighbor</p>
      <p>Zip Code: 152546</p>
      <p>City Name: State</p>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item lines="inset">
      <ion-label position="floating">Notes</ion-label>
      <ion-text-area></ion-text-area>
    </ion-item>
  </ion-list>
  <ion-button size="full" color="success" (click)="newPickupCall()"> Create pickup call</ion-button>
</ion-content>
