<ion-header>
  <ion-toolbar color="success">
    <ion-buttons>
      <ion-menu-button>

      </ion-menu-button>
    </ion-buttons>
    <ion-title>Reciclica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list color="success">
    <ion-item color="success">
      <ion-avatar slot="start">
        <img src="https://res.cloudinary.com/dz209s6jk/image/upload/v1641145812/Avatars/lwmtxy3jvihrt4gaalhw.png" alt="avatar">
      </ion-avatar>
      <ion-label>
        <h1>Fatih</h1>
        <p>Gathered: <span> $ 15.00 </span> </p>
      </ion-label>
    </ion-item>
  </ion-list>
  
<app-pickup-call-card status="hold" updateAt="30.09.2022 10.25" createdAt="29.09.2022" notes=" We have two bags that are full, Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam, nemo.">
  <ion-card-header header>
      <ion-card-subtitle>
        Last pickup call
      </ion-card-subtitle>
    </ion-card-header>
    <ion-button  color="success" fill="clear" size="full" footer>
        See all...
      </ion-button>
</app-pickup-call-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success">
      <ion-icon name="add"></ion-icon>

    </ion-fab-button>

  </ion-fab>
</ion-content>
